
.footer-casago {
    width: 100%;
}
.footer-container {
  max-width: 1200px;   
  margin: 0 auto;
  padding: 0 15px;
}



.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0 10px;
}

.footer-top-left {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;           
}

.footer-col {
    line-height: 1.7;     
}

.footer-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-col p,
.footer-col li {
    font-size: 15px;    
    color: #333;
    margin-bottom: 5px;
}

.footer-col a {
    color: #333;
    text-decoration: none;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-hotline {
    color: #CE193A;
    font-weight: 700;
}


.footer-top-right img {
    max-width: 300px;   
    height: auto;
    margin-top: 10px;
}



.footer-divider {
  border-top: 1px solid #000;
  margin: 15px 0 20px;
}


.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-company-name {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-brand-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.brand-item img {
  display: block;
  height: 70px;
}

.footer-middle-right {
  text-align: center;
  flex: 1;
}

.footer-contact-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.social-item img {
  width: 32px;
  height: 32px;
}


.footer-bct img {
  max-height: 60px;
  display: block;
  margin: 0 auto;
}


.footer-bottom {
  background: #CE193A;
  color: #fff;
  font-size: 11px;
  line-height: 1.6;
  border-radius: 4px;

  width: 100%;        
  margin-top: 10px;
  padding: 8px 18px;
  text-align: center;
}


.footer-bottom p {
  margin: 2px 0;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}


.hotline-section {
  background: #f1f1f1;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotline-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;    
  display: flex;
  align-items: stretch;
}


.hotline-left {
  position: relative;
  display: flex;
  align-items: center;
  background: #CE193A;
  color: #fff;
  padding: 14px 40px 14px 15px;
  right: 15px;
  
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.hotline-left::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 40px solid #CE193A;
}

.hotline-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.hotline-icon img {
  width: 100%;
  height: 100%;
}


.hotline-right {
  flex: 1;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
}

.newsletter-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 30px;
  white-space: nowrap;
}

.newsletter-form {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
}

.newsletter-form button {
  padding: 0 25px;
  background: #333;
  color: #fff;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

