/* ===== SECTION ===== */
.home-media {
  padding: 40px 0;
}

.media-container {
  
  display: flex;
  gap: 20px;
    margin-left: -17px;  
}

.media-col {
  flex: 0 0 33.33%;
}

.media-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
}

.video-card {
  background: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.video-thumb {
  position: relative;
  width: 100%;
  padding-top: 56.25%;   
  background: #000;
}

.video-thumb iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


.video-caption {
  background: #444;
  color: white;
  padding: 12px;
  font-weight: bold;
}



.news-main {
  background: #fff;
  border: 1px solid #ddd;
  height: 380px;
  display: flex;
  flex-direction: column;
  
}

.news-main-img {
  position: relative;
  height: 260px;
}

.news-main-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-main-content {
  padding: 12px;
}

.news-main-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.news-main-desc {
  font-size: 14px;
  color: #666;
}




.news-list-wrapper {
  height: 350px;     
  overflow: hidden;  
}


.news-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.news-item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.news-item:last-child {
  border-bottom: none;
}


.news-thumb {
  width: 90px;
  height: 80px;
  overflow: hidden;
}

.news-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.news-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.news-desc {
  font-size: 12px;
  color: #666;
}


.container-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}




























